<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Notícia</title>
		</head>
	<body>

		<h1>Notícias</h1>


		<table>
			<tr>
				<th>id</th>
				<th>Titulo</th>
				<th>Noticia</th>
				<th>Criacao</th>
			</tr>
				<tr>
						<td><%= noticias[0].id_noticia %></td>
						<td><%= noticias[0].titulo %> </td>
						<td><%= noticias[0].noticia %> </td>
						<td><%= noticias[0].data_criacao %> </td>
					</tr>


		</table>

	</body>
</html>
